<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd    	
     	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
     	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd 
     	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
     	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
     	http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.6.xsd "
	default-lazy-init="false">
	<!--这是发送端，使用了Topic的exchange -->

	<!-- 配置CachingConnectionFactory -->
	<bean id="connectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<property name="host" value="127.0.0.1"></property>
		<property name="port" value="5672"></property>
		<property name="username" value="guest"></property>
		<property name="password" value="guest"></property>
	</bean>
	<!-- 配置org.springframework.amqp.rabbit.core.RabbitAdmin。为什么要配置这个 -->
	<!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
	<rabbit:admin id="rabbitmqConnectionFactory"
		connection-factory="connectionFactory" />

	<!-- 配置queue -->
	<rabbit:queue name="spittle.alert.queue" />
	<rabbit:queue name="spittle.topic.queue" />
	<!--配置exchange,并绑定queue -->
	<rabbit:topic-exchange name="exchange"
		xmlns="http://www.springframework.org/schema/rabbit" durable="true">
		<bindings>
			<!--pattern:Topic的通配符，符合该通配符的消息，将会路由到到该队列 -->
			<binding queue="spittle.alert.queue" pattern="spittle.*" />
		</bindings>
	</rabbit:topic-exchange>
	
	<!-- 配置RabbitTemplate -->
	<bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
		<!-- 注入ConnectionFactory -->
		<constructor-arg name="connectionFactory" ref="connectionFactory"></constructor-arg>
	</bean>
</beans>